{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'reviews/css/reviews.css' %}">
{% endblock %}

{% block extra_title %} | {% if edit_review %}Edit{% else %}Leave a{% endif %} Review{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Hero Image -->
    <div class="row">
        <div class="col-12 g-0 hero">
            <img class="img-fluid hero-image" src="{% static 'images/path-blur-768.webp' %}"
                alt="Two red flowers on steps."/>
        </div>
    </div>
    
    <div class="row my-3">
        <div class="col-10 offset-1">
            <h1 class="mate text-center">{% if edit_review %}Edit{% else %}Leave a{% endif %} Review: {{ service.name }}</h1>
            <div class="text-center">    
                {% if user.is_authenticated %}
                    <p>Reviewing as: {{ request.user.first_name}} {{ request.user.last_name }}</p>
                    <form id="reviewForm" method="POST" novalidate>
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12 col-md-6 offset-md-3 mb-0">
                                {{ review_form.title | as_crispy_field }}
                            </div>
                        </div>
                        <div class="d-none invalid-message mb-3 invalid fw-bold" id="title-validation">
                        </div>
                        <div class="form-row">
                            <div class="col-12 col-md-6 offset-md-3 mb-0">
                            {{ review_form.content | as_crispy_field }}
                            </div>
                        </div>
                        <div class="d-none invalid-message mb-3 invalid fw-bold" id="content-validation">
                        </div>
                        <div class="form-row">
                            <div class="col-12 col-md-6 offset-md-3 mb-0">
                            {{ review_form.rating | as_crispy_field }}
                            </div>
                        </div>
                        <div class="d-none invalid-message mb-3 invalid fw-bold" id="rating-validation">
                        </div>
                        <button type="submit" class="btn btn-lg hunter-green-bg isabelline" id="form-submit-button">
                            {% if edit_review %}Update{% else %}Submit{% endif %}
                        </button>
                    </form>
                {% else %}
                    <a href="{% url 'account_signup' %}?next={{request.path}}" class="hunter-green">Create an account</a> or 
                    <a href="{% url 'account_login' %}?next={{request.path}}" class="hunter-green">login</a> to leave a review.
                {% endif %}
            </div>
        </div>
    <div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'reviews/js/review_stars.js' %}"></script>
{% endblock %}