{% extends "base.html" %}

{% load static %}

{% block extra_title %} | {{ service.name }} Reviews{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Hero Image -->
    <div class="row">
        <div class="col-12 g-0 hero">
            <img class="img-fluid hero-image" src="{% static 'images/path-blur-768.webp' %}"
                alt="Two red flowers on steps."/>
        </div>
    </div>
    
    <div class="row my-3">
        <div class="col-10 offset-1">
            <h1 class="mate text-center">{{ service.name }} Reviews{% if user.is_superuser %}: Admin View{% endif %}</h1>
            <div class="text-center">    
                {% if user.is_authenticated %}
                    <a href="#" class="btn">Leave a Review</a>
                {% else %}
                    <a href="{% url 'account_signup' %}?next={{request.path}}" class="hunter-green">Create an account</a> or 
                    <a href="{% url 'account_login' %}?next={{request.path}}" class="hunter-green">login</a> to leave a review.
                {% endif %}
            </div>
        </div>

    <div>


    <div class="row my-3">
        <div class="col-10 offset-1">
            {% if reviews %}
                <div class="row">
                    {% for review in page_obj %}
                    {% if review_count == 1 %}
                    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 my-2">
                    {% elif review_count == 2 %}
                    <div class="col-12 col-md-6 my-2">
                    {% else %}
                    <div class="col-12 col-md-6 col-lg-4 my-2">
                    {% endif %}
                        <div class="card">
                            <div class="card-body review-card">
                                <h5 class="title">{{ review.title}}</h5>
                                <div class="star-ratings mb-1">
                                    <div class="fill-ratings review-fill-ratings" id="fill-ratings-{{review.pk}}" style="width: 0%;">
                                        <span>★★★★★</span>
                                    </div>
                                    <div class="empty-ratings">
                                        <span>★★★★★</span>
                                    </div>
                                    <div id="rating-{{review.pk}}" hidden>{{ review.rating }}</div>
                                </div>
                                <div class="card-text">{{ review.content | safe }}</div>
                                <h6 class="card-subtitle text-end text-muted mb-2">- {{ review.reviewer.first_name }}</h6>
                                <h6 class="card-subtitle text-end text-muted">{{ review.created_on }}</h6>
                                {% if user.is_superuser %}
                                <hr>
                                <div class="admin-buttons d-flex justify-content-around">
                                    <button class="btn rounded-1 hunter-green-bg isabelline">
                                        Unpublish
                                    </button>
                                    <button class="btn rouned-1 btn-danger isabelline">
                                        Delete
                                    </button>    
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Pagination Links -->
                    <div class="col-12 my-3">
                        <div class="pagination d-flex justify-content-center">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1" class="hunter-green">&laquo; first</a>
                                    <a href="?page={{ page_obj.previous_page_number }}" class="hunter-green">previous</a>
                                {% endif %}
                            </span>
                            <span class="current mx-2">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                            </span>
                            <span class="step-links">
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}" class="hunter-green">next</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}" class="hunter-green">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <!-- Buttons -->
                    <div class="col-12 mt-3 text-center">
                        <a href="{% url 'service_page' service.id %}" class="btn rounded-1 mate isabelline hunter-green-bg">
                            <i class="fas fa-caret-left"></i>
                            Back to Service Page
                        </a>
                        {% if user.is_superuser %}
                        <a href="{% url 'unpublished_reviews' service.id %}" class="btn rounded-1 mate isabelline btn-dark">
                            View Pending Reviews
                        </a>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <p class="text-center">There are no reviews for this service yet.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/star_ratings.js' %}"></script>
{% endblock %}