{% extends "base.html" %}

{% load static %}

{% block extra_title %} | {{ service.name }} Reviews{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Hero Image -->
    <div class="row">
        <div class="col-12 g-0 hero">
            <img class="img-fluid hero-image" src="{% static 'images/path-blur-768.webp' %}"
                alt="Two red flowers on steps."/>
        </div>
    </div>
    
    <div class="row my-3">
        <div class="col-10 offset-1 col-md-8 offset-md-2 mt-2">
            <h1 class="mate text-center">{{ service.name }} Reviews</h1>
        </div>
    </div>

{% endblock %}