{% extends "base.html" %}

{% load static %}

{% block extra_title %} | {{ service.name }} Reviews{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Hero Image -->
    <div class="row">
        <div class="col-12 g-0 hero">
            <img class="img-fluid hero-image" src="{% static 'images/path-blur-768.webp' %}"
                alt="Two red flowers on steps."/>
        </div>
    </div>
    
    <div class="row my-3">
        <div class="col-10 offset-1">
            <h1 class="mate text-center">{{ service.name }} Reviews{% if user.is_superuser %}: Admin View{% endif %}</h1>
            <div class="text-center"> 
                {% if user.is_authenticated %}
                    {% if ordered %}
                        <a href="{% url 'create_review' service.id %}" class="btn hunter-green-bg isabelline">Leave a Review</a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'account_login' %}?next={{request.path}}" class="hunter-green">Log in</a> to leave a review.
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Reviews -->
    <div class="row my-3">
        <div class="col-10 offset-1">
            {% if reviews %}
                <div class="row">
                    {% for review in page_obj %}
                    {% if review_count == 1 %}
                    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 my-2">
                    {% elif review_count == 2 %}
                    <div class="col-12 col-md-6 my-2">
                    {% else %}
                    <div class="col-12 col-md-6 col-lg-4 my-2">
                    {% endif %}
                        <div class="card">
                            <div class="card-body review-card">
                                <h2 class="title fs-5">{{ review.title}}</h2>
                                <div class="star-ratings mb-1">
                                    <div class="fill-ratings review-fill-ratings text-dark" id="fill-ratings-{{review.pk}}" style="width: 0%;">
                                        <span>★★★★★</span>
                                    </div>
                                    <div class="empty-ratings text-dark">
                                        <span>☆☆☆☆☆</span>
                                    </div>
                                    <div id="rating-{{review.pk}}" hidden>{{ review.rating }}</div>
                                </div>
                                <div class="card-text">{{ review.content | safe }}</div>
                                <p class="card-subtitle text-end mb-2">- {{ review.reviewer.first_name}}</p>
                                {% if user.is_superuser %}
                                <p class="card-subtitle text-end mb-2">Email: {{ review.reviewer.email }}</p>
                                {% endif %}
                                <p class="card-subtitle text-end mb-2">{{ review.created_on }}</p>
                                {% if user.is_superuser or user == review.reviewer %}
                                <hr>
                                <div class="admin-buttons d-flex justify-content-around">
                                    {% if user.is_superuser %}
                                    <a href="{% url 'publish_review' service.id review.id %}" class="btn rounded-1 btn-dark isabelline">
                                        Unpublish
                                    </a>
                                    {% endif %}
                                    {% if user == review.reviewer %}
                                    <a href="{% url 'edit_review' service.id review.id %}" class="btn rounded-1 hunter-green-bg isabelline">
                                        Edit
                                    </a>
                                    {% endif %}
                                    <button type="button" class="btn rounded-1 btn-outline-danger btn-delete" data-bs-toggle="modal"
                                        data-bs-target="#deleteModal" data-review_id="{{ review.id }}" data-service_id="{{ service.id }}">
                                        Delete
                                    </button>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Pagination Links -->
                    <div class="col-12 my-3">
                        <div class="pagination d-flex justify-content-center">
                            <span class="step-links text-end">
                                {% if page_obj.has_previous %}
                                    {% if page_obj.paginator.num_pages > 2 %}
                                    <a href="?page=1" class="hunter-green">&laquo; first</a>
                                    {% endif %}
                                    <a href="?page={{ page_obj.previous_page_number }}" class="hunter-green">previous</a>
                                {% endif %}
                            </span>
                            <span class="current mx-2">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                            </span>
                            <span class="step-links text-start">
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}" class="hunter-green">next</a>
                                    {% if page_obj.paginator.num_pages > 2 %}
                                    <a href="?page={{ page_obj.paginator.num_pages }}" class="hunter-green">last &raquo;</a>
                                    {% endif %}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            {% else %}
            <p class="text-center">There are no reviews for this service yet.</p>
            {% endif %}
            <!-- Buttons -->
            <div class="col-12 mt-3 text-center">
                <a href="{% url 'service_page' service.id %}" class="btn rounded-1 isabelline hunter-green-bg">
                    <i class="fas fa-caret-left"></i>
                    Back to Service Page
                </a>
                {% if user.is_superuser %}
                <a href="{% url 'unpublished_reviews' service.id %}" class="btn rounded-1 isabelline btn-dark">
                    View Pending Reviews
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

    <!-- Modals -->
    <!-- Confirming User Delete Action -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="deleteModalLabel">Delete Review?</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure you want to delete this review?
                        This action cannot be undone.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <a id="deleteConfirm" href="#" class="btn btn-danger">
                        Delete
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/star_ratings.js' %}"></script>
<script src="{% static 'reviews/js/delete_buttons.js' %}"></script>
{% endblock %}