{% extends "base.html" %}

{% load static %}

{% block extra_title %} | Unpublished {{ service.name }} Reviews{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Hero Image -->
    <div class="row">
        <div class="col-12 g-0 hero">
            <img class="img-fluid hero-image" src="{% static 'images/path-blur-768.webp' %}"
                alt="Two red flowers on steps."/>
        </div>
    </div>
    
    <div class="row my-3">
        <div class="col-10 offset-1">
            <h1 class="mate text-center">Unpublished Reviews: {{ service.name }}</h1>
        </div>

    <div>


    <div class="row my-3">
        <div class="col-10 offset-1">
            {% if reviews %}
                <div class="row">
                    {% for review in page_obj %}
                    {% if review_count == 1 %}
                    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 my-2">
                    {% elif review_count == 2 %}
                    <div class="col-12 col-md-6 my-2">
                    {% else %}
                    <div class="col-12 col-md-6 col-lg-4 my-2">
                    {% endif %}
                        <div class="card">
                            <div class="card-body review-card">
                                <h5 class="title">{{ review.title}}</h5>
                                <div class="star-ratings mb-1">
                                    <div class="fill-ratings review-fill-ratings" id="fill-ratings-{{review.pk}}" style="width: 0%;">
                                        <span>★★★★★</span>
                                    </div>
                                    <div class="empty-ratings">
                                        <span>★★★★★</span>
                                    </div>
                                    <div id="rating-{{review.pk}}" hidden>{{ review.rating }}</div>
                                </div>
                                <div class="card-text">{{ review.content | safe }}</div>
                                <h6 class="card-subtitle text-end text-muted mb-2">- {{ review.reviewer.first_name }}</h6>
                                <h6 class="card-subtitle text-end text-muted">{{ review.created_on }}</h6>
                                <hr>
                                <div class="admin-buttons d-flex justify-content-around">
                                    <a href="{% url 'publish_review' service.id review.id %}" class="btn rounded-1 btn-dark isabelline">
                                        Publish
                                    </a>
                                    {% if user == review.reviewer %}
                                    <a href="{% url 'edit_review' service.id review.id %}" class="btn rounded-1 hunter-green-bg isabelline">
                                        Edit
                                    </a>
                                    {% endif %}
                                    <a href="{% url 'delete_review' service.id review.id %}" class="btn rounded-1 btn-danger">
                                        Delete
                                    </a>    
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Pagination Links -->
                    <div class="col-12 my-3">
                        <div class="pagination d-flex justify-content-center">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1" class="hunter-green">&laquo; first</a>
                                    <a href="?page={{ page_obj.previous_page_number }}" class="hunter-green">previous</a>
                                {% endif %}
                            </span>
                            <span class="current mx-2">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                            </span>
                            <span class="step-links">
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}" class="hunter-green">next</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}" class="hunter-green">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    
                </div>
            {% else %}
                <p class="text-center">There are no pending reviews to publish.</p>
            {% endif %}
            <!-- Buttons -->
            <div class="col-12 mt-3 text-center">
                <a href="{% url 'service_reviews' service.id %}" class="btn rounded-1 mate isabelline hunter-green-bg">
                    <i class="fas fa-caret-left"></i>
                    Back to Published Reviews
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/star_ratings.js' %}"></script>
{% endblock %}