.form-check-label {
    unicode-bidi: bidi-override;
    color: #ccc;
    font-size: 25px;
    position: relative;
    margin: 0;
    padding: 0;
}

.form-check,
.form-check-label {
    display: inline-block;
    padding-left:0;
    cursor: pointer;
}

.form-check-label { 
    font-size: 35px;
}

.form-check input{
    width: 0;
    height: 0;
    opacity: 0;
}

.form-star-selected {
    color: orange;
}