{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="container-fluid">
    <div class="col-10 offset-1">
        <hr>
    </div>
    <div class="row my-3">
        <div class="col-10 offset-1 col-md-6 offset-md-3">
            <h1 class="mate">{% trans "Change Password" %}</h1>
            {% element p %}
                {% trans 'Your password is now changed.' %}
            {% endelement %}
            <a href="{% url 'login' %}" class="btn btn-lg hunter-green-bg isabelline my-2">
                <i class="fas fa-caret-left"></i>
                {% trans "Back to Login Page" %}
            </a>
        </div>
    </div>
</div>
{% endblock content %}
