{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="container-fluid">
    <div class="col-10 offset-1">
        <hr>
    </div>
    <div class="row my-3">
        <div class="col-10 offset-1 col-md-6 offset-md-3">
            {% if token_fail %}
            <h1 class="mate">{% trans "Bad Token" %}</h1>
            {% else %}
            <h1 class="mate">{% trans "Change Password" %}</h1>
            {% endif %}
            {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            {% element p %}
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please
            request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
            {% endelement %}
            {% else %}
                {% element form method="post" action=action_url %}
                    {% slot body %}
                        {% csrf_token %}
                        {{ form|crispy }}
                        {{ redirect_field }}
                    {% endslot %}
                    {% slot actions %}
                    <button type="submit" class="btn btn-lg hunter-green-bg isabelline my-2">
                        {% trans "Change Password" %}
                    </button>
                    {% endslot %}
                {% endelement %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
