{% extends "account/base_entrance.html" %}
{% load allauth i18n %}

{% block extra_title %} | Sign Up{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1 col-md-8 offset-md-2">
            <hr>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-10 offset-1 col-md-6 offset-md-3">
            <h1 class="mate">{% trans "Sign Up" %}</h1>
            {% setvar link %}
                <a href="{{ login_url }}">
                {% endsetvar %}
                {% setvar end_link %}
                </a>
            {% endsetvar %}
            {% element p %}
                {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
            {% endelement %}
            {% if not SOCIALACCOUNT_ONLY %}
                <form action="{% url 'account_signup' %}" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-lg hunter-green-bg isabelline">
                        {% trans "Sign Up" %}
                    </button>
                </form>
            {% endif %}
            {% if SOCIALACCOUNT_ENABLED %}
                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
