#contactUsForm input::placeholder,
#contactUsForm textarea::placeholder,
#id_contact_reason option:first-child {
    color: #595c5f;
}

#id_contact_reason,
#id_contact_reason option:not(:first-child) {
    color: #000
}

legend {
    font-size: medium;
    color: #595c5f;
}

.g-recaptcha {
    transform:scale(0.8);
    transform-origin:0 0;
    display: inline-block;
}

#id_captcha.g-recaptcha.recaptchav2checkbox.form-control {
    padding: 0;
    border: 0;
}

/* Mailchimp CSS */
#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
}

/* Prevent reCAPTCHA box from causing x-scroll on smaller screens */
@media (min-width: 375px) {
    .g-recaptcha {
        transform:scale(0.95);
    }
}

@media (min-width: 425px) {
    .g-recaptcha {
        transform:scale(1);
    }
}