#contactUsForm input::placeholder,
#contactUsForm textarea::placeholder,
#id_contact_reason option:first-child {
    color: #595c5f;
}

#id_contact_reason,
#id_contact_reason option:not(:first-child) {
    color: #000
}

legend {
    font-size: medium;
    color: #595c5f;
}

#id_captcha.g-recaptcha.recaptchav2checkbox.form-control {
    padding: 0;
    border: 0;
}

.rc-anchor-light {
    border: 0;
    background-color: #fff;
}