{% extends "base.html" %}

{% load static %}

{% block extra_title %} | Cart{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col-10 offset-1 col-md-8 offset-md-2 mt-2">
            <h1 class="mate text-center">Cart: {{ item_count }} items</h1>
        </div>
    </div>
    <hr>
    <div class="row my-3">
        <div class="col-10 offset-1 mt-2">
            {% if cart_items %}
            <div class="table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th scope="col" class="ps-3">Service Info</th>
                            <th scope="col"></th>
                            <th scope="col" class="text-center">Price</th>
                            <th scope="col" class="text-center">Number</th>
                            <th scope="col" class="text-center">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in cart_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <img src="/media/{{ item.service.image }}" class="rounded">
                            </td>
                            <td class="py-3">
                                <p class="my-0"><strong>{{ item.service.name }}</strong></p>
                                {% if item.surface %}
                                <p class="my-0"><strong>Type:</strong> {{ item.surface }}</p>
                                {% endif %}
                                {% if item.cuts %}
                                <p class="my-0"><strong>Type:</strong> {{ item.cuts }}</p>
                                {% endif %}
                                {% if item.size %}
                                <p class="my-0"><strong>Size:</strong> {{ item.size }}</p>
                                {% endif %}
                            </td>
                            <td class="py-3 text-center">
                                <p class="my-0">€{{ item.service.unit_price }}</p>
                            </td>
                            <td class="py-3">
                                <!-- Number of Services Form -->
                                <form action="{% url 'amend_cart' item.item_id %}" method="POST" class="form update-form">
                                    {% csrf_token %}
                                    <div class="form-group cart-numbers">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-number btn btn-sm hunter-green-bg isabelline" 
                                                    data-item_id="{{ item.item_id }}" id="decrement-number_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input type="number" class="form-control form-control-sm number_input" name="number" value="{{ item.number }}"
                                                min="1" max="99" data-item_id="{{ item.item_id }}" id="id_number_{{ item.item_id }}">
                                            <div class="input-group-append">
                                                <button class="increment-number btn btn-sm hunter-green-bg isabelline" 
                                                    data-item_id="{{ item.item_id }}" id="increment-number_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-plus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            {% if item.size %}
                                            <input type="hidden" name="size" value="{{ item.size }}">
                                            {% endif %}
                                            {% if item.surface %}
                                            <input type="hidden" name="surface" value="{{ item.surface }}">
                                            {% endif %}
                                            {% if item.cuts %}
                                            <input type="hidden" name="cuts" value="{{ item.cuts }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                </form>
                                <div class="cart-numbers">
                                    <a class="update-link fern-green">
                                        <small>Update</small>
                                    </a>
                                    <a class="remove-item text-danger float-end" id="remove_{{ item.item_id }}"
                                        data-size="{{ item.size }}" data-surface="{{ item.surface }}" data-cuts="{{ item.cuts }}">
                                        <small>Remove</small>
                                    </a>
                                </div>
                            </td>
                            <td class="py-3 text-center">
                                <p class="my-0">€{{ item.service.unit_price }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-end">
                            <h4 class="mt-4"><strong>Grand Total: €{{ total|floatformat:2 }}</strong></h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-end">
                            <a href="{% url 'services' %}" class="btn btn-lg rounded-1 mate isabelline hunter-green-bg">
                                <i class="fas fa-caret-left"></i>
                                View Services
                            </a>
                            <a href="" class="btn hunter-green hunter-green-border mate isabelline-bg fw-bold rounded-1 btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p>Your cart is empty.</p>
            <a href="{% url 'services' %}" class="btn rounded-1 mate isabelline hunter-green-bg">
                <i class="fas fa-caret-left"></i>
                View Services
            </a>
            {% endif %}
        </div>
    </div>
    
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/number_inputs.js' %}"></script>
<script src="{% static 'js/cart_numbers.js' %}"></script>
{% endblock %}