{% extends "base.html" %}

{% load static %}

{% block extra_title %} | Cart{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-3">
        <div class="col-10 offset-1 col-md-8 offset-md-2 mt-2">
            <h1 class="mate text-center">Cart: {{ item_count }} items</h1>
        </div>
    </div>
    <hr>
    <div class="row my-3">
        <div class="col-10 offset-1 mt-2">
            {% if cart_items %}
            {{ cart_items}}
            <br>
            <br>
            {{ request.session.cart }}
            <div class="table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th scope="col" class="ps-3">Service Info</th>
                            <th scope="col"></th>
                            <th scope="col" class="text-center">Price</th>
                            <th scope="col" class="text-center">Number</th>
                            <th scope="col" class="text-center">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in cart_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <img src="/media/{{ item.service.image }}" class="rounded">
                            </td>
                            <td class="py-3">
                                <p class="my-0"><strong>{{ item.service.name }}</strong></p>
                                {% if item.service.has_sizes %}
                                <p class="my-0"><strong>Size:</strong> {{item.size|upper }}</p>
                                {% endif %}
                            </td>
                            <td class="py-3 text-center">
                                <p class="my-0">€{{ item.service.unit_price }}</p>
                            </td>
                            <td class="py-3 text-center">
                                <p class="my-0">{{ item.number }}</p>
                            </td>
                            <td class="py-3 text-center">
                                <p class="my-0">€{{ item.service.unit_price }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-end">
                            <h4 class="mt-4"><strong>Grand Total: ${{ total|floatformat:2 }}</strong></h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-end">
                            <a href="{% url 'services' %}" class="btn btn-lg rounded-1 mate isabelline hunter-green-bg">
                                <i class="fas fa-caret-left"></i>
                                View Services
                            </a>
                            <a href="" class="btn hunter-green hunter-green-border mate isabelline-bg fw-bold rounded-1 btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p>Your cart is empty.</p>
            <a href="{% url 'services' %}" class="btn rounded-1 mate isabelline hunter-green-bg">
                <i class="fas fa-caret-left"></i>
                View Services
            </a>
            {% endif %}
        </div>
    </div>
    
</div>
{% endblock %}