{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Hero Image -->
     <div class="row">
        <div class="col-12 g-0">
            <img class="img-fluid" src="{% static 'images/path-blur-768.webp' %}"
                alt="Two red flowers on steps.">
        </div>
     </div>
     <div class="row">
        <div class="col-10 offset-1">
            <h1 class="mate">About Us</h1>
        </div>
     </div>
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
</div>
{% endblock %}