{% extends "base.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %} | Order Confirmed{% endblock %}

{% block content %}
<div class="container">
    <hr>
    <div class="row">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2 text-center">
            <h1 class="mate">Thanks for your order!</h1>
            <p>Confirmation email sent to {{ order.email }}</p>
            <p class="overflow-ellipses">Order #{{ order.order_number }}</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2 ">
            <div class="order-confirmation-wrapper">
                <div class="row">
                    <div class="col">
                        <b>Order Details:</b>
                    </div>
                </div>
                {% for item in order.lineitems.all %}
                <div class="row mb-3 mb-sm-0">
                    <div class="col-12 col-md-8">
                        <p class="mb-0">
                            {{ item.service.name }}
                            {% if item.size %} - {{ item.size|title }} {% endif %}
                            {% if item.surface %} {{ item.surface }} {% endif %}
                            {% if item.cuts %} Tree: {{ item.cuts|title }} {% endif %}
                        </p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p class="mb-0">{{ item.number }} @ €{{ item.service.unit_price }} each</p>
                    </div>
                </div>
                {% endfor %}
                <div class="row mb-3">
                    <div class="col-12 col-md-8">
                        <p class="mb-0"><b>Grand Total</b></p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p class="mb-0"><b>€{{ order.grand_total }}</b></p>
                    </div>
                </div>
                <!-- Delivery Section -->
                <div class="row">
                    <div class="col-12">
                        <b>Location Details:</b>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 ">
                        <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0">{{ order.full_name }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">Phone Number</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0">{{ order.phone_number }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">Address</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0">{{ order.street_address1 }}</p>
                    </div>
                </div>

                {% if order.street_address2 %}
                <div class="row">
                    <div class="col-6">
                        <p class="mb-0"> </p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0">{{ order.street_address2 }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">Town or City</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0">{{ order.town_or_city }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">County</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0">{{ order.county }}</p>
                    </div>
                </div>

                {% if order.eircode %}
                <div class="row">
                    <div class="col-6">
                        <p class="mb-0">Eircode</p>
                    </div>
                    <div class="col-6">
                        <p class="mb-0">{{ order.eircode }}</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-10 offset-1 text-center">
            {% if from_account %}
                <a href="{% url 'account' %}" class="btn btn-lg hunter-green-border isabelline-bg hunter-green rounded-1 mb-3">
                    <span class="icon">
                        <i class="fas fa-caret-left"></i>
                    </span>
                    <span class="font-weight-bold">Back to My Account</span>
                </a>
            {% else %}
                <a href="{% url 'home' %}" class="btn btn-lg hunter-green-border isabelline-bg hunter-green rounded-1 mb-3">
                    <span class="font-weight-bold">Back to Site</span>
                    <span class="icon">
                        <i class="fas fa-caret-right"></i>
                    </span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}