{% extends "base.html" %}

{% load static %}
{% load cart_tools %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %} | Checkout{% endblock %}

{% block navbar %}
<nav class="navbar checkout-navbar">
    <div class="container-md">
        <div class="row w-lg-100 align-items-center">
            <div class="col-12 col-md-5 offset-md-1 col-lg-6 offset-lg-0">
                <div id="site-logo-and-checkout" class="d-flex align-items-center justify-content-around">
                    <div id="logo-and-text" class="flex-center">
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <div class="image-and-text">
                                <img src="{% static 'images/logo-new.webp' %}" class="logo" alt="The Garden Path Logo">
                                <div class="centred-title navbar-brand mate hunter-green fw-semibold">The Garden Path</div>
                            </div>
                        </a>
                    </div>
                    <div class="d-flex align-items-center">
                        <div>
                            <span class="icon"><i class="fas fa-lock px-2 fs-5"></i></span>
                        </div>
                        <div>
                            <p class="m-0"><strong class="mate fs-5">Secure Checkout</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-10 offset-sm-1 col-md-4 offset-md-1 col-lg-5 offset-lg-1">
                <div class="row">
                    <div class="col-12">
                        <div id="progress-dots" class="d-flex align-items-center justify-content-between pt-3">
                            <div class="step active text-center" id="step-1">
                                <div class="dark circle"></div>
                            </div>
                            <div class="line line-1 flex-grow-1"></div>
                            <div class="step" id="step-2">
                                <div class="circle"></div>
                            </div>
                            <div class="line line-2 flex-grow-1"></div>
                            <div class="step" id="step-3">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <div class="progress-address label">Address</div>
                            <div class="label">Payment</div>
                            <div class="progress-review label">Review</div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <hr>
    <div class="row">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2">
            <form action="{% url 'checkout' %}" method="POST" id="payment-form" class="mb-3">
                {% csrf_token %}
                <!-- Personal and Location Details  -->
                <div class="details-fields">
                    <fieldset class="rounded mb-4">
                        <legend class="fieldset-label text-black px-2 w-auto">Enter Your Personal Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                        {{ order_form.phone_number | as_crispy_field }}
                    </fieldset>
                    <fieldset class="rounded mb-1">
                        <legend class="fieldset-label text-black px-2 w-auto">Enter the Location Address</legend>
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.eircode | as_crispy_field }}
                        <div class="form-check form-check-inline mr-0">
                            {% if user.is_authenticated %}
                            <input type="checkbox" class="form-check-input ml-2 mr-0" id="id-save-info" name="save-info" checked>
                            <label for="id-save-info" class="form-check-label">Save these details to my profile</label>
                            {% else %}
                            <label for="id-save-info" class="form-check-label">
                                <a href="{% url 'account_signup' %}" class="text-info">Create an account</a> or 
                                <a href="{% url 'account_login' %}" class="text-info">login</a> to save this information.
                            </label>
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="text-center mb-2">                    
                        <a href="{% url 'view_cart' %}" class="btn hunter-green-border isabelline-bg hunter-green rounded-1 mb-3">
                            <span class="icon">
                                <i class="fas fa-caret-left"></i>
                            </span>
                            <span class="font-weight-bold">Adjust Cart</span>
                        </a>
                        <button type="button" class="btn btn-lg hunter-green-bg isabelline rounded-1 show-payment mb-3" id="show-payment" disabled>
                            <span class="font-weight-bold">Continue to Payment</span>
                            <span class="icon">
                                <i class="fas fa-caret-right"></i>
                            </span>
                        </button>
                    </div>
                </div>
                <!-- Card Payment Details -->
                <div class="payment-fields d-none">
                    <fieldset class="">
                        <legend class="fieldset-label text-black px-2 w-auto">Enter Your Payment Details</legend>
                        <p>Your card will not be charged until you review your order on the next page.</p>
                        <div class="mb-3" id="card-element"></div>
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        <div class="text-center mt-5 mb-2">                    
                            <button type="button" class="btn hunter-green-border isabelline-bg hunter-green rounded-1 mb-3 show-address">
                                <span class="icon">
                                    <i class="fas fa-caret-left"></i>
                                </span>
                                <span class="font-weight-bold">Address Details</span>
                            </button>
                            <button type="button" class="btn btn-lg hunter-green-bg isabelline rounded-1 show-review mb-3" id="show-review" disabled>
                                <span class="font-weight-bold">Review Order</span>
                                <span class="icon">
                                    <i class="fas fa-caret-right"></i>
                                </span>
                            </button>
                        </div>
                    </fieldset>
                </div>
                <!-- Review Order and Submit Form -->
                <div class="review-order d-none">
                    <legend class="fieldset-label text-black px-2 w-auto">Order Review</legend>
                        <!-- <h2 class="fieldset-label">Order Review</h2> -->
                    <p class="orange-info">Nearly finished! Review your details below before paying and finalising your order.</p>
                    <div class="">
                        <div class="row mb-3">
                            <div class="col-12 col-md-6">
                                <span><b>Address</b></span>
                                <div class="review-paragraphs">
                                    <p id="review_street_address1"></p>
                                    <p id="review_street_address2"></p>
                                    <p id="review_town_or_city"></p>
                                    <p id="review_county"></p>
                                    <p id="review_eircode"></p>
                                </div>
                                <div><a class="adjust-address">Change</a></div>
                            </div>
                            <div class="col-12 col-md-6 mt-3 mt-md-0">
                                <span><b>Payment</b></span>
                                <div class="review-paragraphs">
                                    <div class="text-danger" id="card-errors-review" role="alert"></div>
                                    <p id="card-accepted-alert">
                                        <i class="fa-regular fa-credit-card"></i> Card details complete <i class="fa-solid fa-square-check" style="color: green;"></i>
                                    </p>
                                </div>
                                <div><a class="adjust-payment">Change</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Basic Summary of Cart -->
                    <div class="cart-summary row mb-3 rounded-1 mx-0">
                        <div class="col-12">
                            <div class="row mt-3">
                                <div class="col-6 col-sm-7 offset-1">
                                    <p><b>Service{% if item_count != 1 %}s{% endif %} ({{ item_count }})</b></p>
                                </div>
                                <div class="col-4 col-sm-3 text-start text-sm-center">
                                    <p><b>Subtotal</b></p>
                                </div>
                            </div>
                            {% for item in cart_items %}
                                <div class="row">
                                    <div class="d-none d-sm-inline col-sm-2 offset-sm-1 my-1">
                                        <img src="{{ MEDIA_URL }}{{ item.service.image }}" class="w-100 rounded">
                                    </div>
                                    <div class="col-6 offset-1 col-sm-5 offset-sm-0">
                                        <p class="my-0"><b>{{item.number}} x {{ item.service.name }}</b></p>
                                    </div>
                                    <div class="col-4 col-sm-3 text-center">
                                        <p class="my-0 small text-muted">${{ item.service.unit_price | calc_subtotal:item.number }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                            <hr>
                            <div class="row">
                                <div class="col-6 col-sm-7 offset-1">
                                    <p class="float-end"><b>Grand Total:</b></p>
                                </div>
                                <div class="col-4 col-sm-3 text-center">
                                    <p><b>€{{ total|floatformat:2 }}</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mb-2">                    
                        <a href="{% url 'view_cart' %}" class="btn adjust-cart hunter-green-border isabelline-bg hunter-green rounded-1">
                            <span class="icon">
                                <i class="fas fa-caret-left"></i>
                            </span>
                            <span class="font-weight-bold">Adjust Cart</span>
                        </a>
                        <button id="submit-button" class="btn btn-lg bg-warning rounded-1">
                            <span class="order-text">Pay and Place Order</span>
                            <span class="processing-text">Processing...</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                                <div class="spinner-border spinner-border-sm text-dark" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                  </div>
                            </span>
                            
                        </button>
                    </div>
                    <div class="text-center">
                        <p class="small text-danger my-0">
                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Your card will be charged <b>€{{ total|floatformat:2 }}</b> today.</span>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/checkout_form.js' %}"></script>
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}