@import url('https://fonts.googleapis.com/css2?family=Mate:ital@0;1&display=swap');

.logo {
    width: 145px;
    text-align: center;
}

#logo-and-text.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar button {
    border: none;
}

.navbar-nav {
    text-align: center;
}

.collapse a {
    color: darkgreen;
}

.mate {
    font-family: "Mate", serif;
}

.dark-brown {
    color: #332217;
}

.dark-brown-bg {
    background-color: #332217;
}

.hunter-green {
    color: #3A5A40;
}

.fern-green {
    color: #588157;
}

.sage-green {
    color: #A3B18A;
}

.isabelline {
    color: #EDEDE8;
}

.isabelline-bg {
    background-color: #EDEDE8;
}

.plain-anchor {
    text-decoration: none;
}

/* .navbar button {
    position: absolute;
    right: 10px;
    top: 156px;
} */

.text-center {
    text-align: center;
}

footer {
    background-color: #EDEDE8;
}