@import url('https://fonts.googleapis.com/css2?family=Mate:ital@0;1&display=swap');

.logo {
    width: 145px;
    text-align: center;
}

#logo-and-text.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar button {
    border: none;
}

.navbar-nav {
    text-align: center;
}

.collapse a {
    color: darkgreen;
}

.mate {
    font-family: "Mate", serif;
}

.text-green {
    color: darkgreen;
}

/* .navbar button {
    position: absolute;
    right: 10px;
    top: 156px;
} */