@import url('https://fonts.googleapis.com/css2?family=Mate:ital@0;1&display=swap');

/* Navbar Styles */
.logo {
    width: 145px;
    text-align: center;
}

#messages-div {
    position: absolute;
    z-index: 100;
}

.custom-toast {
    overflow: visible;
    margin-left: auto;
}

#logo-and-text.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-and-text {
    position: relative;
    text-align: center;
}

.centred-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar button {
    border: none;
}

.navbar-nav {
    text-align: center;
}

.nav-item {
    padding: 0 1rem;
}

.collapse a {
    color: darkgreen;
}

.dropdown-menu {
    z-index: 200;
}

.fs-small {
    font-size: small;
}

.fs-smaller {
    font-size: smaller;
}

.rounded-b-2 {
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}

#services-overview strong.mate {
    font-weight: 500;
}

em {
    font-style: normal;
}

.plain-list {
    padding-left: 0;
    list-style: none;
}

.plain-list li {
    padding: 5px 0px;
}

/* Fonts and Colours */

.mate {
    font-family: "Mate", serif;
}

.dark-brown {
    color: #332217;
}

.dark-brown-bg {
    background-color: #332217;
}

.hunter-green {
    color: #3A5A40;
}

.hunter-green-border {
    border: 1px solid #3A5A40;
}

.hunter-green-bg {
    background-color: #3A5A40;
}

.fern-green {
    color: #588157;
}

.fern-green-bg {
    background-color: #588157;
}

.sage-green {
    color: #A3B18A;
}

.sage-green-bg {
    background-color: #A3B18A;
}

.isabelline {
    color: #EDEDE8;
}

.isabelline-bg {
    background-color: #EDEDE8;
}

.white-bg {
    background-color: #fff;
}


.plain-anchor {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

main {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.img-shadow {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.internal-shadow {
    box-shadow: inset 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-radius: 10%;
}

.pricing-cards .card-body {
    max-width: 250px;
}

.service-link:hover {
    color: #3A5A40;
}

/* Star Rating Styles for Services and Review Pages */

.star-ratings {
    unicode-bidi: bidi-override;
    color: #ccc;
    font-size: 25px;
    position: relative;
    margin: 0;
    padding: 0;
}

.star-ratings span {
    display: inline-flex;
    align-items: center;
}

.fill-ratings {
      color: orange;
      padding: 0;
      position: absolute;
      z-index: 1;
      display: block;
      top: 0;
      left: 0;
      overflow: hidden;
      
      /* Allows us to grab the width of the span elements */
      span {
        display: inline-block;
      }
}

.empty-ratings {
      padding: 0;
      display: block;
      z-index: 0;
}

/* End of Star Rating Styles */
/* ------------------------- */

footer {
    background-color: #EDEDE8;
}

td > img,
.cart-items img {
    max-width: 100%;
}

.decrement-number {
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.increment-number {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}

.btn:active,
.btn:focus {
    background: #3A5A40;
    color: #EDEDE8;
}

.cart-numbers {
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.form-group input {
    text-align: center;
}

.update-link, .remove-item {
    cursor: pointer;
}

.toast-cart > hr {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.cart-notification-wrapper {
    height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Checkout Page */
#site-logo-and-checkout,
#progress-indicator,
#progress-dots {
    width: 100%;
}

#progress-dots {
    width: 100%;
}

.label {
    width: 60px;
    text-align: center;
    margin: 0 16px;
}

.progress-address {
    margin-left: 0;
}

.progress-review {
    margin-right: 0;
}

.step {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: lightgray;
    border-radius: 50%;
    margin: 10px 20px;
    z-index: 1;
}

.line {
    height: 2px;
    background-color: lightgray;
    z-index: 0;
    margin: 0 -25px;
}

.active > .circle {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.dark {
    background-color: #000;

}

.orange-info {
    border: 2px solid darkorange;
    background: #ff7b0778;
    padding: 10px;
}

/* Border classes for testing grid layouts */
.bdr-r {
    border: 1px solid red;
}

.bdr-g {
    border: 1px solid green;
}

.bdr-b {
    border: 1px solid blue;
}

.bdr-m {
    border: 1px solid magenta;
}

.review-paragraphs p {
    margin: 0;
}

.cart-summary {
    border: 1px solid black;
}

.cart-summary img {
    max-width: 70px;
}

.overflow-ellipses {
    text-overflow: ellipsis;
    overflow: hidden;
}

.processing-text,
#submit-button .spinner-border {
    display: none;
}

.adjust-cart {
    margin-bottom: 16px;
}

.step-links {
    width: 104px;
}

@media (min-width: 473px) {
    #payment-form button {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (min-width: 511px) {
    .adjust-cart {
        margin-top: 4px;
        margin-bottom: 4px;
    }
}

@media (min-width: 768px) {
    .hero-image {
        display: none;
    }

    .hero {
        background-image: url("/static/images/path-blur-1920.webp");
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: 0% 70%;
    }

    .checkout-navbar > div {
        justify-content: center;
    }

    .fs-md-5 {
        font-size: larger;
    }
}

@media (max-width: 991px) {
    .navbar-nav .nav-link.active {
        background-color: #588157;
        color: #EDEDE8;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: center;
    }

    .navbar-nav .nav-link.active {
        color: #3A5A40;
        font-weight: bold;
        text-shadow: 0 0 5px #EDEDE8;
    }

    .cart-services-wrapper {
        height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    .cart-card-wrapper {
        height: 300px;
    }

    .offcanvas {
        z-index: 3000;
    }

    .offcanvas-body img {
        max-width: 100px;
    }

    .desktop-cart-preview-wrapper {
        max-height: 75%;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media (min-width: 1024px) {
    #logo-and-text{
        padding-left: 1rem;
    }

    /* Forces navbar row to take up the full width of the container. */
    .w-lg-100 {
        width: 100%;
    }

    #about-hedge {
        width: 336px;
    }
}

@media (min-width: 1300px) {
    .navbar-expand-lg .navbar-collapse {
    padding-right: 10vw;
    justify-content: center;
    }
}