{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block extra_title %} | Contact Us{% endblock %}

{% block content %}

<div class="container-fluid my-3">

    <!-- Hero Image -->
    <div class="row">
        <div class="col-12 g-0 hero">
            <img class="img-fluid hero-image" src="{% static 'images/path-blur-768.webp' %}" alt="Two red flowers on steps."/>
        </div>
    </div>
    
    <div class="row my-3">
        <div class="col-10 offset-1">
            <h1 class="mate text-center mt-3 mb-4">Contact Us</h1>
        </div>
        <div class="col-10 offset-1 col-md-6 offset-md-3">
            <form id="contactUsForm" method="POST">
                {% csrf_token %}
                {{ contact_us_form | crispy }}
                <button type="submit" class="btn btn-lg hunter-green-bg isabelline float-start">
                    Send
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="https://www.google.com/recaptcha/enterprise.js?render=6Lczj00qAAAAAHrLkUKo54t_ApbMR22OfsaFhk_u"></script>
<script src="{% static 'contact/js/contact_us.js' %}"></script>
{% endblock %}