{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block extra_title %} | Contact Us{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1">
            <hr>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-10 offset-1">
            <h1 class="mate text-center mt-3 mb-4">Sign up to Our Newsletter</h1>
        </div>
        <div class="col-10 offset-1 col-md-6 offset-md-3">
            <p>
                Stay connected with The Garden Path by signing up for our newsletter! Be the first to receive gardening
                tips, seasonal advice, exclusive offers, and updates on our latest services. Whether you're a seasoned
                gardener or just starting out, we'll help you keep your garden looking its best all year round. Join our
                community today and let's grow together!
            </p>
        </div>
        <div class="col-10 offset-1 col-md-6 offset-md-3">
            <div id="mc_embed_shell">
                <div id="mc_embed_signup">
                    <form action="https://gmail.us10.list-manage.com/subscribe/post?u=95994dd88df848b7a422c4ba2&amp;id=d3f04fa550&amp;f_id=00e783e3f0"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                        target="_blank">
                        <div id="mc_embed_signup_scroll">
                            <div class="indicates-required">
                                <span>*</span> indicates required
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address 
                                    <span>*</span>
                                </label>
                                <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display: none;"></div>
                                <div class="response" id="mce-success-response" style="display: none;"></div>
                            </div>
                            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                /* real people should not fill this in and expect good things - do not remove this or
                                risk form bot signups */
                                <input type="text" name="b_95994dd88df848b7a422c4ba2_d3f04fa550" tabindex="-1" value="">
                            </div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button hunter-green-bg"
                                        value="Subscribe">
                                    <p style="margin: 0px auto;">
                                        <a href="http://eepurl.com/iZ4NoE"
                                            title="Mailchimp - email marketing made easy and fun">
                                            <span
                                                style="display: inline-block; background-color: transparent; border-radius: 4px;">
                                                <img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                                                    alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"/>
                                            </span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="https://www.google.com/recaptcha/enterprise.js?render=6Lczj00qAAAAAHrLkUKo54t_ApbMR22OfsaFhk_u"></script>
<script src="{% static 'contact/js/contact_us.js' %}"></script>
<script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js">
</script>
<script>
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
        fnames[6] = 'COMPANY';
        ftypes[6] = 'text';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>
{% endblock %}