<div class="toast custom-toast hunter-green-bg isabelline" data-bs-autohide="false">
<div class="toast-body">
    <div class="d-flex gap-4">
    <span><i class="fa-solid fa-circle-check fa-lg"></i></span>
    <div class="d-flex flex-grow-1 align-items-center">
        <span class="fw-semibold">{{ message | safe }}</span>
        <button type="button" 
        class="btn-close btn-close-white btn-close-sm ms-auto" 
        data-bs-dismiss="toast" 
        aria-label="Close"></button>
    </div>
    </div>
</div>
<div class="toast-cart isabelline-bg text-dark d-lg-none">
    {% if total and not on_account_page %}
        <p class="mate text-center pt-1 mb-1"><strong>Cart: {{ item_count }} items</strong></p>
        <hr class="mb-0 text-center">
        <div class="cart-notification-wrapper text-dark ">
            {% for item in cart_items %}
                <div class="row">
                    <div class="col-3 offset-1 my-1">
                        <img src="{{ MEDIA_URL }}{{ item.service.image }}" class="w-100 rounded">
                    </div>
                    <div class="col-7">
                        <p class="my-0"><strong>{{ item.service.name }}</strong></p>
                            {% if item.surface %}
                            <p class="my-0"><strong>Type:</strong> {{ item.surface }}</p>
                            {% endif %}
                            {% if item.cuts %}
                            <p class="my-0"><strong>Type:</strong> {{ item.cuts }}</p>
                            {% endif %}
                            {% if item.size %}
                            <p class="my-0"><strong>Size:</strong> {{ item.size }}</p>
                            {% endif %}
                    </div>
                </div>
            {% endfor %}
            
        </div>
        <hr class="mt-0 text-center">
        <div class="row">
            <div class="col">
                <p class="mb-1"><strong>Grand Total: €{{ total|floatformat:2 }}</strong></p>
                <a href="{% url 'checkout' %}" class="btn hunter-green hunter-green-border mate isabelline-bg fw-bold rounded-1 mb-2">
                    <span class="text-uppercase">Go To Secure Checkout</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </div>
        </div>
    {% endif %}
</div>
</div>