<div class="toast custom-toast bg-warning" data-bs-autohide="false">
<div class="toast-body">
    <div class="d-flex gap-4">
    <span><i class="fa-solid fa-triangle-exclamation fa-lg"></i></span>
    <div class="d-flex flex-grow-1 align-items-center">
        <span class="fw-semibold">{{ message | safe }}</span>
        <button type="button" 
        class="btn-close btn-close-black btn-close-sm ms-auto" 
        data-bs-dismiss="toast" 
        aria-label="Close"></button>
    </div>
    </div>
</div>
</div>