{% extends "base.html" %}

{% load static %}

{% block extra_title %} | Services{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Hero Image -->
    <div class="row">
        <div class="col-12 g-0 hero">
            <img class="img-fluid hero-image" src="{% static 'images/path-blur-768.webp' %}"
                alt="Two red flowers on steps."/>
        </div>
    </div>
    
    <div class="row my-3">
        <div class="col-10 offset-1 col-md-8 offset-md-2 mt-2">
            <h1 class="mate text-center">Our Services</h1>
            {% if current_categories %}
            <p class="small sage-green mb-0"><a href="{% url 'services' %}" class="plain-anchor sage-green service-link">Services</a> > {{ current_categories.first.friendly_name }}</a>
            {% endif %}
        </div>
    </div>

    <div class="row my-3">
        <div class="col-10 offset-1 mt-2">
            <div class="container col-10 offset-1">
                <div class="row">
                    {% for service in services %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-1">
                            <a href="{% url 'service_page' service.id %}" class="plain-anchor">
                                <div class="card h-100 border-0">
                                    <img src="{{ MEDIA_URL }}{{ service.image }}" class="card-img-top" alt="Image of a {{ service.name }} service">
                                    <div class="card-body">
                                        <h5 class="card-title mate hunter-green text-center">{{ service.name }}</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row sage-green-bg pt-3 pb-4">
        <div class="col-10 offset-1">
            <h2 class="mate text-center isabelline">Pricing Model</h2>
            <div class="d-flex flex-wrap justify-content-center">
                <div class="card m-2">
                    <div class="card-body">
                        <h5 class="card-title mate text-center">Garden Maintenance</h5>
                        <p class="card-text">€70 per man hour.<br>All grass and border work including flowerbed care. Two hour minimum. </p>
                    </div>
                </div>
                <div class="card m-2">
                    <div class="card-body">
                        <h5 class="card-title mate text-center">Clearance Work</h5>
                        <p class="card-text">€90 per man hour.<br>Weeding and removal of wood and green waste. Weed treatment on driveways and paths. Two hour minimum. </p>
                    </div>
                </div>
                <div class="card m-2">
                    <div class="card-body">
                        <h5 class="card-title mate text-center">Shrubs and Hedges</h5>
                        <p class="card-text">€50-€70 per hour.<br>Shaping, pruning, and removal services for all types of hedges and shrubbery.</p>
                    </div>
                </div>
                <div class="card m-2">
                    <div class="card-body">
                        <h5 class="card-title mate text-center">Trees and Stumps</h5>
                        <p class="card-text">€140 per man hour.<br>Specialist tree surgeon will fell, trim, or coppice trees on site. Stump removal incurs an additional €50 per stump. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}